
     <footer class="footer" >
      <div class="footer-sector-one">
      <div class="footer-logo-slogan">
      <div class="footer-logo">
        <a href="./index.html" class="footer-logo-link">
          <img src="./images/logo.svg" alt="logo" class="footer-logo-img">
        </svg>
        </a>
      </div>
      <div class="footer-slogan" >
        <p class="footer-slogan-paragraph">Whether you're looking for a healthy </p>
        <p>snack or a thoughtful gift, our fruit </p>
        <p>baskets are the perfect choice.</p>
      </div>
      </div>
     
      <div class="footer-links">
      <div class="footer-internal-link" >
        <ul class="footer-internal-link-list">
            <li class="footer-internal-link-list-item">
                <a href="" class="footer-internal-link-list-item-link">how it works</a>
            </li>
             <li class="footer-internal-link-list-item">
                <a href="" class="footer-internal-link-list-item-link">vegetables</a>
            </li>
            <li class="footer-internal-link-list-item">
                <a href="" class="footer-internal-link-list-item-link">reviews</a>
            </li>
        </ul>
        </div>
      
      <div class="footer-company-contact-information" >
         <ul class="footer-company-contact-information-list">
            <li class="footer-company-contact-information-list-item">
              <a
                class="footer-link-tel"
                href="+380 (68) 443-94-26"
               
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-company-contact-information-list-item">
              <p >1678 S. Pioneer Road Salt </p>
              <p >Lake City UT 84104</p>
            </li>
          </ul>
      </div> 
      </div>
      <div class="footer-privacy-policy-cookie-main"  >
      <div class="footer-privacy-policy-cookie" >
        <a href="privacy-policy" class="privacy-cookie-link">Privacy Policy/Cookie settings</a>
        
      </div>
      <div class="footer-coppy-right" ><a href="coppy-right" class="privacy-cookie-link">©Green Harvest 2023</a></div>
      </div>
      </div>
     </div>
      
    </footer>