<header class="header">
  <div class="header-container">
    <div class="logo-container">
      <img src="images/logo.svg" alt="logo">
    </div>
    <div class="navbar-container">
      <nav class="navbar">
        <ul class="menu-list">
          <li>
            <a class="menu-link" href="#">How It Works</a>
          </li>
          <li>
            <a class="menu-link" href="#">Vegetables</a>
          </li>
          <li>
            <a class="menu-link" href="#">Reviews</a>
          </li>
        </ul>

        <a class="menu-link-shopnow" href="#">SHOP NOW</a>
      </nav>
      <div class="media-menu">
        <input type="checkbox" id="mobile-menu-id" />
        <label for="mobile-menu-id" class="mobile-menu-class">
          <img class="responsive-menu-checkbox" src="images/menu.svg" alt="menu">
          <img class="responsive-menu-x" src="images/x.svg" alt="menu-kapatma">
        </label>
      </div>
    </div>
  </div>
</header>
<div class="responsive-menu">
  <nav class="responsive-navbar">
    <ul class="menu-list">
      <li>
        <a class="menu-link" href="#">How It Works</a>
      </li>
      <li>
        <a class="menu-link" href="#">Vegetables</a>
      </li>
      <li>
        <a class="menu-link" href="#">Reviews</a>
      </li>
    </ul>
  </nav>
  <div class="responsive-shop-container">
    <a class="menu-link-shopnow" href="#">SHOP NOW</a>
  </div>
</div>
