<section>
    <div class="hero-container">
        <div class="hero-text-chapter">
            <h1 id="hero-header">ORGANIC VEGETABLES TO YOUR DIET TODAY!</h1>
            <p id="hero-description">
                Our expertly curated vegetable baskets are made with the <br> freshest, highest quality vegetables available. Fresh Harvest
                Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
        </div>
        <div class="hero-image-chapter"></div>
    </div>
 </section>