<section class="howitworks">
    <div class="howitworks__outline">
        <div class="howitworks__outline-left">

        </div>
        <div class="howitworks__outline-right">

        </div>
    </div>
    <div class="howitworks_main">
        <div class="howitworks__card--left">
            <h2 class="howitworks__card--title">How it works</h2>
            <div class="howitworks__card--img">
            </div>
        </div>

        <div class="howitworks__card--right">
            <div class="howitworks__card--head">
                <h2 class="howitworks__card--subtitle">To order your <span
                        class="howitworks__card--span">vegetable</span> basket, simply follow
                    these <span class="howitworks__card--span">easy
                        steps</span>
                </h2>
                <p class="howitworks__card--text">Our baskets are assembled with care and delivered straight to your
                    doorstep, so you can enjoy the taste of fresh fruit
                    without ever leaving your home.</p>
            </div>

            <ol class="howitworks__card--list">

                <li class="howitworks__card--listitem">
                    <div class="howitworks__card--listitem--before"></div>
                    <p>Just choose <b>the vegetable</b> you want to
                        order by clicking on the checkboxes <b>next to
                            it</b>.</p>
                </li>
                <li class="howitworks__card--listitem">
                    <div class="howitworks__card--listitem--before"></div>
                    <p>Click on <b>the basket</b> and fill out the form.</p>
                </li>
                <li class="howitworks__card--listitem">
                    <div class="howitworks__card--listitem--before"></div>
                    <p>Sit back and relax! Your <b>fresh vegetables</b> basket will be delivered.</p>
                </li>
            </ol>
        </div>
    </div>
</section>