<section class="reviews-section" id="reviews">
    <div class="reviews-container">
        <div class="reviews-hp-contanier">
            <h1 class="reviews-h">REVIEWS FROM OUR <span class="reviews-span">CUSTOMERS</span></h1>
            <p class="reviews-p">Words of our customers: impressions and opinions about the quality of our
                services and the freshness of our products.</p>
        </div>
        <div class="reviews-human-container">
            <ul class="reviews-ul-container">
                <li class="reviews-li-container">
                    <div class="reviews-card-container">
                        <img class="reviews-images" src="images/john.webp" alt="jognpng">
                        <h2 class="reviews-h-two">John Wax</h2>
                        <p class="reviews-p-text">These vegetables are my secret to delicious and healthy meals.
                            The
                            quality is always at
                            the highest level, the aroma and
                            taste are enchanting. I advise every fan of real products!</p>
                    </div>
                </li>
                <li class="reviews-li-container reviews-litwo">
                    <div class="reviews-card-container">
                        <img class="reviews-images" src="images/Victoria.webp" alt="victoriajpg">
                        <h2 class="reviews-h-two">Victoria Romashenko</h2>
                        <p class="reviews-p-text">I love how fast and fresh the vegetables are delivered. Salads
                            always turn out so
                            appetizing, and soups are real
                            masterpieces. The quality is impeccable!</p>
                    </div>
                </li>
                <li class="reviews-li-container reviews-lithere">
                    <div class="reviews-card-container">
                        <img class="reviews-images" src="images/Ihor.webp" alt="Ihorjpg">
                        <h2 class="reviews-h-two">Ihor Trachuk</h2>
                        <p class="reviews-p-text">Recently tried my fresh tomatoes and peppers - amazing! The
                            authenticity of the taste, as
                            if from the garden directly to
                            my table. It is now my main vegetable supplier.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>