<section class="vegetables">
    <div class="vegetables-container">
        <div class="vegetables-text">
            <h2 class="header-vegetables">ORGANIC 
                <span class="vegetables-span">VEGETABLES</span>
            </h2>
            <p class="vegetables-paragraph">
                Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.
            </p>
        </div>
        <div class="vegetables-images">
            <ul class="vegetables-menu">
                <li class="card-eggplant">
                    <div class="eggplant-content">
                        <p class="p-eggplant">eggplant</p>
                        <p class="fee-eggplant">60 USD / kg</p>
                        <img src="./images/eggplant.png" alt="img-eggplant" class="img-eggplant" width="282" height="243">
                    </div>
                </li>
                <li class="card-leek">
                    <div class="leek-content">
                        <p class="p-leek">leek</p>
                        <p class="fee-leek">50 USD / kg</p>
                        <img src="./images/leek.png" alt="img-leek" class="img-leek" width="282" height="243">
                    </div>
                </li>
                <li class="card-mushrooms">
                    <div class="mushrooms-content">
                        <p class="p-mushrooms">mushrooms</p>
                        <p class="fee-mushrooms">40 USD / kg</p>
                        <img src="./images/mushrooms.png" alt="img-mushrooms" class="img-mushrooms" width="282" height="243">
                    </div>
                </li>
                <li class="card-corn">
                    <div class="corn-content">
                        <p class="p-corn">corn</p>
                        <p class="fee-corn">60 USD / kg</p>
                        <img src="./images/corn.png" alt="img-corn" class="img-corn" width="282" height="243">
                    </div>
                </li>
                <li class="card-sweet-patatoes">
                    <div class="sweet-patatoes-content">
                        <p class="p-sweet-patatoes">sweet patatoes</p>
                        <p class="fee-sweet-patatoes">50 USD / kg</p>
                        <img src="./images/potatoes.png" alt="img-sweet-patatoes" class="img-sweet-patatoes" width="282" height="243">
                    </div>
                </li>
                <li class="card-carrot">
                    <div class="carrot-content">
                        <p class="p-carrot">carrot</p>
                        <p class="fee-carrot">40 USD / kg</p>
                        <img src="./images/carrot.png" alt="img-carrot" class="img-carrot" width="282" height="243">
                    </div>
                </li>
            </ul>

        
        </div>
    </div>
</section>