<section class="vegetables" id="vegetables">
    <div class="vegetables-container">
        <div class="vegetables-text">
            <h2 class="header-vegetables">ORGANIC 
                <span class="vegetables-span">VEGETABLES</span>
            </h2>
            <p class="vegetables-paragraph">
                Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.
            </p>
        </div>
        <div class="vegetables-images">
            <ul class="vegetables-menu">
                <li class="vegetables-card">
                    <div class="vegetables-card__content">
                        <p class="vegetables-card__content-name">eggplant</p>
                        <p class="vegetables-card__content-price">60 USD / kg</p>
                        <img src="./images/eggplant.webp" alt="eggplant" class="vegetables-card__content-img">
                    </div>
                </li>
                <li class="vegetables-card">
                    <div class="vegetables-card__content">
                        <p class="vegetables-card__content-name">leek</p>
                        <p class="vegetables-card__content-price">50 USD / kg</p>
                        <img src="./images/leek.webp" alt="leek" class="vegetables-card__content-img">
                    </div>
                </li>
                <li class="vegetables-card">
                    <div class="vegetables-card__content">
                        <p class="vegetables-card__content-name">mushrooms</p>
                        <p class="vegetables-card__content-price">40 USD / kg</p>
                        <img src="./images/mushrooms.webp" alt="mushrooms" class="vegetables-card__content-img">
                    </div>
                </li>
                <li class="vegetables-card">
                    <div class="vegetables-card__content">
                        <p class="vegetables-card__content-name">corn</p>
                        <p class="vegetables-card__content-price">60 USD / kg</p>
                        <img src="./images/corn.webp" alt="corn" class="vegetables-card__content-img">
                    </div>
                </li>
                <li class="vegetables-card">
                    <div class="vegetables-card__content">
                        <p class="vegetables-card__content-name">sweet patatoes</p>
                        <p class="vegetables-card__content-price">50 USD / kg</p>
                        <img src="./images/potatoes.webp" alt="sweet patatoes" class="vegetables-card__content-img">
                    </div>
                </li>
                <li class="vegetables-card">
                    <div class="vegetables-card__content">
                        <p class="vegetables-card__content-name">carrot</p>
                        <p class="vegetables-card__content-price">40 USD / kg</p>
                        <img src="./images/carrot.webp" alt="carrot" class="vegetables-card__content-img">
                    </div>
                </li>
            </ul>

        
        </div>
    </div>
</section>