/*Desktop*/
.footer {
  background-color: var(--maroon);
  padding: 7em 10em;
}

.footer-all {
  display: flex;
  flex-direction: row;
  width: 85%;
  max-width: 1280px;
}
.footer-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-logo-slogan {
  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 50%;
}

.footer-slogan {
  font-family: 'Inter Tight';
  font-weight: 500;
  line-height: 2em;
  color: var(--white);
  font-size: 1.6em;
  width: 80%;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.footer-internal-link {
  width: 100%;
}
.footer-internal-link-list {
  list-style-type: none;
}

.footer-internal-link-list-item-link {
  font-family: 'Inter Tight';
  font-weight: 500;
  line-height: 3.2;
  letter-spacing: 0.15em;
  color: var(--white);
  text-decoration: none;
  font-size: 3.2em;
}

.footer-company-contact-information-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.footer-company-contact-information {
  font-family: 'Inter Tight';
  font-weight: 600;
  text-decoration: none;
  line-height: 2;
  letter-spacing: 0.15em;
  color: var(--white);
  font-size: 1.8em;
  width: 100%;
}

.footer-link-tel {
  color: var(--white);
  text-decoration: none;
}

.footer-privacy-policy-cookie-main {
  background-color: var(--maroon);
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.privacy-cookie-link {
  color: var(--white);
  cursor: text;
  text-decoration: none;
  font-family: 'Inter Tight';
  font-weight: 500;
  font-size: 1.8em;
  line-height: 2;
  letter-spacing: 0.15em;
}

/* Tablet */
@media only screen and (max-width: 1279px) {
  .footer-all {
    width: 95%;
    max-width: 768px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
  }
  .footer-internal-link {
    width: 100%;
  }
  .footer-company-contact-information {
    width: 100%;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .footer-all {
    flex-direction: column;
    width: 95%;
    max-width: 450px;
  }
  .footer-contents {
    flex-direction: column;
  }
  .footer-internal-link {
    width: 100%;
  }

  .footer-links {
    width: 100%;
  }
  .footer-logo-slogan {
    width: 100%;
  }
  .footer-slogan {
    line-height: 1.8;
    font-size: 1.4em;
  }

  .footer-internal-link-list-item-link {
    font-size: 2.8em;
    line-height: 2.8;
    font-weight: 600;
  }
  .privacy-cookie-link {
    font-size: 1.2em;
    line-height: 1.6;
  }
}
