/*Desktop*/
.hero {
    width: 100%;
}

.hero-container {
    display: flex;
    height: 100vh;
    padding: 0 0 0 10;
    background-color: #576F35;
}

.hero-text-chapter {
    display: flex;
    flex: 1;
    position: relative;
    height: 80em;
    background-color: #576F35;
}

.hero-image-chapter {
    display: flex;
    flex: 1;
    background-image: url(../images/img-2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.hero-div {
    max-width: 610px;
    position: absolute;
    bottom: 1em;
    right: 3em;
    width: 70%;
    display: flex;
    flex-direction: column;
    color: white;
}

#hero-header {
    font-weight: 600;
    font-size: 7.6em;
    line-height: 1;
    margin-bottom: 2.5em;
}

#hero-description {
    font-weight: 500;
    font-size: 1.6em;
    line-height: 1.25;
}

/* Tablet */
@media only screen and (max-width: 1279px) {
.hero-container {
        flex-direction: column;
    }
    
    .hero-div {
        position: unset;
        width: 95%;
        max-width: 768px;
        margin: 0 auto;
    }
    
    #hero-header {
        margin-bottom: 0.5em;
        margin-top: 10vh;
        font-size: 7.6em;
    }
}


/* Mobile */
@media only screen and (max-width: 767px) {
.hero-div {
    justify-content: center;
    max-width: 450px;
}

#hero-header {
    margin-bottom: 0.3em;
    margin-top: 7vh;
    font-size: 4.8em;
}
#hero-description {
    font-size: 1.4em;
    line-height: 1.3;
}
}