/*Desktop*/
.howitworks{
    display: flex;
}

.howitworks__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.howitworks__card--left {
    width: 50%;
    height: 759px;
    background-color: var(--maroon);
    padding-top: 10em;
}

.howitworks__card--img{
    background-image: url(../images/img-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 85%;
    height: 55.9em;
    margin: 0 auto;
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3em;
}
.howitworks__card--title{
    display: none;
    padding-top: 10em;
}

.howitworks__card--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 759px;
    background-color: var(--green);
    gap : 5em;
}
.howitworks__card--head{
    gap: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    
}

.howitworks__card--subtitle{
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 3.2em;
    line-height: 1em;  
    letter-spacing: -0.015em;  
    color: var(--white);
    text-transform: uppercase;
}
.howitworks__card--text{
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 1.1em;
    color: var(--white);
}
.howitworks__card--span{
    color: #889970;
}
.howitworks__card--list{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    list-style-type: none;
}
.howitworks__card--listitem{
    display: flex;
    align-items: center;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    line-height: 1.4em;
    color: var(--black);
    background-color: var(--white);
    border-radius: 1.5em;
    width: 100%;
    padding: 0.4em 1em 1.2em 2.4em;
    counter-increment: section;
}

.howitworks__card--listitem--before::before{    
    content: counters(section, ".") " ";
    width: 2.4em;
    height: 2.4em;
    background-color: var(--maroon);
    border-radius: 50%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3em;
    margin-right: 1.1em;
    border:0.3em solid rgb(196, 178, 182);
}
@counter-style decimal {
    system: decimal;
    symbols: "1" "2" "3" "4" "5" "6" "7" "8" "9" "10";
}
.howitworks__card--listitem p{
    display: inline-block;
    align-self: center;
    color: rgba(20, 20, 20, 0.6);
}
.howitworks__card--listitem p b{
    color: var(--black);
}
.circle {
    width: 50px;
    /* Dairenin genişliği */
    height: 50px;
    /* Dairenin yüksekliği */
    background-color: lightblue;
    /* Dairenin içi */
    border: 2px solid darkblue;
    /* Dairenin kenarı */
    border-radius: 50%;
    /* Kenar yarıçapı, bu daireyi oluşturur */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}




/* Tablet */
@media only screen and (max-width: 1279px) {
    .howitworks{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .howitworks__card--left{
        width: 100%;
        max-width: 1280px;
    }
    
    .howitworks__card--img{
        width: 85%;
        max-width: 640px;
    }
    
    .howitworks__card--right{
        width: 100%;
        max-width: 1280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


/* Mobile */
@media only screen and (max-width: 767px) {
    .howitworks__card--left{
        width: 100%;
        max-width: 768px;
    }

    .howitworks__card--img {
        width: 95%;
        max-width: 335px;
    }

    .howitworks__card--right{
        width: 100%;
        max-width: 768px;
    }    
}