/*Desktop*/

.vegetables{
    width: 100%;
    background-color: var(--maroon);
    padding: 7em 0;
}

.vegetables-container {
    width: 85%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: 0 auto;
}

.vegetables-text {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 50%;
}

.header-vegetables {
    font-family: 'Inter tight', sans-serif;
    font-weight: 600;
    font-size: 6.4em;
    color: var(--white);
    width: 350px;
}

.vegetables-span{
    color: rgba(251, 251, 251, .30);
}

.vegetables-paragraph{
    font-family: 'Inter tight', sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    color: var(--white);
}

.vegetables-images {
    width: 100%;
}

.vegetables-menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.vegetables-card{
    width: calc((100% - 4em) / 3);
    background-color: var(--white);
    border-radius: 4em;
    padding: 4em;
}

.vegetables-card__content{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.vegetables-card__content-name {
    color: var(--maroon);
    font-family: 'Inter tight', sans-serif;
    font-size: 3.2em;
    font-weight: 600;
}

.vegetables-card__content-price {
    color: var(--black);
    font-family: 'Inter tight', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
}

.vegetables-card__content-img{
    width: 100%;
}

/* Tablet */
@media only screen and (max-width: 1279px) {
    .vegetables-container {
        width: 95%;
        max-width: 768px;
    }

    .vegetables-card{
        width: calc((100% - 2em) / 2);
    }
}


/* Mobile */
@media only screen and (max-width: 767px) {
    .vegetables-container {
        max-width: 458px;
    }
    .vegetables-card{
        width: 100%;
    }
}